@tailwind base;
@tailwind components;
@tailwind utilities;

.text-dimmed {
  @apply text-responsive-small text-stone-500;
}

body {
  @apply bg-stone-50 text-stone-700;
}

.text-responsive-xs {
  font-size: calc(13px + 0.2vmin);
}

.text-responsive-small {
  font-size: calc(15px + 0.33vmin);
}

.text-responsive-normal {
  font-size: calc(15px + 0.55vmin);
}

.text-responsive-big {
  font-size: calc(15px + 1.25vmin);
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

::-moz-selection {
  /* Code for Firefox */
  color: black;
  background: #cccccc;
}

::selection {
  @apply bg-orange-500 text-stone-800;
}

.bgimg {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
}
