@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-stone-50 text-stone-700;
}

.text-dimmed {
  @apply text-stone-500;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

::-moz-selection {
  /* Code for Firefox */
  color: black;
  background: #cccccc;
}

::selection {
  @apply bg-orange-500 text-stone-800;
}

.bgimg {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
}
